<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="routeData && routeData.data.hasBackButton"></ion-back-button>
      <ion-menu-button *ngIf="routeData && routeData.data.hasMenuButton"></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="routeData && routeData.data.title">
      {{routeData.data.title}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="mail-unread"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
